#main-container {
    display: grid;
    position: fixed;
    height: 100%;
    width: 100%;
    gap: 0%;
    left: 0%;
    top: 0%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50px calc(100% - 100px) 50px;
}

#spreadsheet {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: scroll;
}

#spreadsheet-container {
    display: grid;
    gap: 0%;
    left: 0%;
    top: 0%;
}

.spreadsheet-column-header {
    resize: horizontal;
    overflow: auto;
}

.lexicon-header {
    resize: horizontal;
    overflow: auto;
}

#lexicon {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;

}

#bottom-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    height: calc(100% - 4px);
    display: flex;
    flex-direction: column;
}

#top-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: calc(100% - 4px);

    display: grid;
    height: 100%;
    width: 100%;
    gap: 0%;
    grid-template-columns: 15% repeat(10, minmax(max-content, 25px)) 1fr repeat(3, minmax(max-content, 25px));
    grid-template-rows: 50% 50%;
    grid-auto-flow: column;
}


#top-bar-tab-name-div {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

h2 {
    text-align: center;
}

table {
    border-collapse: collapse
}

.table-box {
    padding: 0%;
    border: 0px;
}

table {
    border: 1px solid black;
    table-layout: fixed;
}

.div-scroll {
    flex: 1 1 auto;
    overflow: scroll;
}

th {
    position: sticky;
    top: 0px;
    z-index: 100;
}

#bottom-bar {
    width: 100%;
}

.bottom-bar-button {
    height: 100%;
}

#bottom-bar-buttons {
    float: left;
    height: 100%;
}

#bottom-bar-new-tab {
    float: right;
    height: 100%;
}

#format-bg {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

textarea {
    resize: none;
}

#button-save {
    grid-column-start: 15;
    grid-row-start: 1;
}

#button-load {
    grid-column-start: 15;
    grid-row-start: 2;
}

#save-file-location {
    grid-column-start: 13;
    grid-column-end: 15;
    grid-row-start: 1;
}

#connection-status-indicator {
    grid-column-start: 13;
    grid-row-start: 2;
    height: 100%;
    padding: 5px;
    margin: 0%;
    border: 0%;
    text-align: center;
    position: relative;
    font-size: 15px;
    width: 18ch;
}

#button-connect {
    grid-column-start: 14;
    grid-row-start: 2;
}

#program-menu {    
    width: 80vw;
    height: 80vh;
    right: 10vw;
    top: 10vh;
    position: fixed;
    z-index: 100;
    display: grid;
    grid-template-columns: 30px 2fr 1fr;
    grid-template-rows: auto 26px;
}

#programming-area {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#program-textarea {
    position: static;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    z-index: 105;
    padding: 1px;
}

#textarea-renderer-container {
    padding: 0px;
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

#textarea-renderer {
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    pointer-events: none;
    z-index: 101;
    right: 2px;
    overflow: hidden;
}

#line-numbers {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    position: absolute;
}

#line-numbers-container {
    overflow: hidden;
    width: 30px;
    height: 100%;
    position: absolute;
    z-index: 110;
}

#compilation-status {
    width: calc(100%-4px);
    height: calc(100%-4px);
    z-index: 115;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    top: 6px;
    padding: 2px;
    margin: 0px;
    font-size: 12px;
}

#program-manager {
    width: calc(100%-4px);
    height: calc(100%-4px);
    z-index: 105;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 2px;
    margin: 0px;
    font-size: 12px;
}

textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}
  