:root {
    --color: #fff;
}

body, div, input, textarea {
    background-color: black;
    color: lavender;
}

input, div, p, h2, button, textarea {
    font-family: 'Fira Code', monospace; 
}

input, textarea {
    border-color: var(--color);
    font-size: 12px;
}

.div-top-level {
    border: 2px;
    border-style: solid;
    border-color: var(--color);
}

.spreadsheet-header {
    text-align: center;
    border:2px outset darkgray;
    background: gray;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

button {
    text-align: center;
    border:2px outset darkgray;
    background: gray;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    color: lavender;
    transition-duration: 0.05s;
}

button:hover {
    border:2px outset lightgray;
    background: darkgray;
    font-weight: bold;
}

button:disabled {
    border:2px outset darkgray;
    background: gray;
    font-weight: normal;
    color: darkgray;
}

.selected {
    background-color: lightblue;
    color: black;
}

.selected:hover {
    background-color: white;
}

th {
    padding: 0px;
}

.lexicon-header {
    text-align: center;
    border:2px outset darkgray;
    background: gray;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    color: lavender;
}

.formatting-bold {
    font-weight: bold;
}

.formatting-italics {
    font-style: italic;
}

.formatting-underline {
    text-decoration: underline;
}

.formatting-strikethrough {
    text-decoration: line-through;
}

.formatting-strikethrough.formatting-underline {
    text-decoration: underline line-through;
}

.formatting-bg {
    background-color: var(--color);
    border: none;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#connection-status-indicator {
    font-weight: bold;
}

textarea {
    padding: 0px;
    margin: 0px;
}